body {
  padding-top: 126px;
  font-family: 'Open Sans', Helvetica, Arial, sans;
}

.jumbotron.jumbotron-fluid.text-center.d-flex.flex-column.justify-content-center.flex-wrap {
  background-image: url("../../assets/img/2%20-%20Procreate%20Nikolai%20Lockertsen.jpg");
  min-height: 50vw;
  color: rgb(255,255,255);
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.jumbotron {
  position: relative;
}

.hero-title-wrapper {
  margin-bottom: 30px;
}

.hero-address, .hero-contact {
  width: 270px;
  display: inline-block;
  vertical-align: top;
  height: 110px;
  font-size: 15px;
  text-align: left;
  min-width: 270px;
  margin: 0 auto 20px;
  border: 1px solid #ccc;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-company-name {
  display: none;
}

.social-icons {
  background-color: #efefef;
}

@media (min-width: 300px) {
  .d-flex.hero-contact-wrapper {
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  .d-flex.hero-contact-wrapper {
    flex-direction: row;
  }
}

.details {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.details a {
  color: #fff;
}

.details p {
  margin: 0;
}

.contact-icon {
  flex: 0 0 50px;
}

.page-title {
  margin-bottom: 30px;
}

.hero-title-wrapper p {
  margin-bottom: 30px;
}

.btn {
  padding: 15px 30px !important;
}

